html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.color-selector-box-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.selection-btn {
  height: 100px;
  width: 150px;
  border: 1px solid #000;
  margin: 50px 5px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 7px 9px 8px #969595;
  outline: none;
}


.red {
  background-color: red;
}
.red:hover {
  background-color: #cc0302;
}
.red:active {
  background-color: red;
  box-shadow: 2px 5px 4px #666;
  transform: translateY(4px);
}

.green {
  background-color: green;
}
.green:hover {
  background-color: #016101;
}
.green:active {
  background-color: green;
  box-shadow: 2px 5px 4px #666;
  transform: translateY(4px);
}

.blue {
  background-color: blue;
}
.blue:hover {
  background-color: #0101a9;
}
.blue:active {
  background-color: blue;
  box-shadow: 2px 5px 4px #666;
  transform: translateY(4px);
}

.purple {
  background-color: #940194;
}
.purple:hover {
  background-color: #6b006b;
}
.purple:active {
  background-color: #940194;
  box-shadow: 2px 5px 4px #666;
  transform: translateY(4px);
}

.landing-box-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#landing-box {
  position: relative;
  height: 500px;
  width: 902px;
  border: 1px solid #111;
  overflow: hidden;
}

.result-box {
  display: inline-block;
  margin-top: -3px;
  width: 100px;
  height: 100px;
}

.razzle-dazzle {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}






margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {margin-left:400px; margin-top:250px; position: absolute;}
  50%  {height:400px; margin-left:calc(50% - 200px); margin-bottom:calc(50% - 50px); transform: rotate(720deg)}
  99% {position: absolute;}
  100% {height:100px; width:100px;}
}

/* Standard syntax */
@keyframes example {
  0%   {margin-left:400px; margin-top:250px; position: absolute;}
  50%  {height:400px; width:400px; margin-left:calc(50% - 200px); margin-bottom:calc(50% - 50px); transform: rotate(720deg)}
  99% {position: absolute;}
  100% {height:100px; width:100px;;
}
